{% extends "base.html" %}

{% load  static %}

{% block title %}
  LOGIN
{% endblock title %}

{% block content %}

    
<form class="form-registro" method="post">{% csrf_token %}
    <h3>Registrar nuevo usuario</h3>
    {% if form.errors %}
    <div class="callout warning">
      <p><strong style="font-size: 150%">Error en el registro:</strong></h4>
      {%if form.username.errors%}
        <p>El nombre de usuario ya esta en uso.</p>
      {%endif%}
      {%if form.password2.errors%}
        <p>Las contraseñas no son coincidentes</p>
      {%endif%}
    </div>
    {% endif %}
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-4 cell">
          <label>Nombre de usuario:
            {{form.username}}
          </label>
        </div>
        <div class="medium-10 cell">
            <label>Dirección de correo:
              {{form.email}}
            </label>
        </div>
        <div class="medium-6 cell">
            <label>Nombre:
              {{form.nombres}}
            </label>
          </div>
          <div class="medium-6 cell">
            <label>Apellidos:
              {{form.apellidos}}
            </label>
          </div>
          <div class="medium-6 cell">
            <label>Contraseña:
              {{form.password1}}
            </label>
          </div>
          <div class="medium-6 cell">
            <label>Repita la contraseña:
              {{form.password2}}
            </label>
            {{form.username.password2}}
          </div>
          <button class="button primary centro" type="submit">Registrar usuario</button>
      </div>
    </div>
  </form>

{% endblock content %}